#warp{
    width: 960px;
    margin: 0px auto;
}
/*ページ全体の設定*/ 
#maincontents{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-bottom: -60px;
    float: left;
}

* html #maincontents{
    height: 100%;
}
/*ヘッダー*/ 
header{
    border: dashed 1px #999;
}
/*左側のメニュー*/ 
#leftnavi{
    float:left;
    border: dashed 1px #999;
    margin-left: -100%;
    width: 180px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*右側のメニュー*/ 
#rightnavi{
    float:left;
    width: 180px;
    height: 500px;
    border: dashed 1px #999;
    margin-left: -182px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*本文の設定*/ 
#contents{
    float: left;
    width: 580px;
    border: dashed 1px #999;
    margin-left: 190px;
    margin-right: 75px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 60px;
}
/*メニューボックスの設定*/ 
.contents_boxmenu{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: black;
    background-color: antiquewhite;
    border-top: solid 10px #ffa500
}

.contents_box p{
    margin: 0;
    padding: 0;
}

.contents_maindoc{
    
}

.contents_maindoc p{
    padding-left: 0.25em;
}

/*見出し用ボックス*/ 
h3.headline{
    background-color: royalblue;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1.35em;
    color: white;
}
/*各項目のサブタイトル*/ 
h3.subtitle{
    background-color: whitesmoke;
    padding: 0.5em;
    padding-left: 1.1em;
    color: black;
}

/*公式サイトへのリンク*/
a.link_button {
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';/*フォントをいい感じに*/
}

/*以下カーソルを当てたとき*/
a.link_button:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
}

/*他htmlのリンク先*/
a.link_url{
    position:relative;
}

/*フッター*/ 
footer{
    width: 100%;
    height: 60px;
    clear: both;
    border: dashed 1px #999;
}
/*HTML本体の設定*/ 
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}