#warp{
    width: 1200px;
    margin: 0px auto;
}
/*ページ全体の設定*/ 
#maincontents{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-bottom: -60px;
    float: left;
}

* html #maincontents{
    height: 100%;
}
/*ヘッダー*/ 
header{
    float: left;
    width: 100%;
    background: linear-gradient(#afeeee, #ffffff);
}

#headimg{
    background-image: url(../textures/title3.png);
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
}

header p{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

/*左側のメニュー*/ 
#leftnavi{
    float:left;
    margin-left: -100%;
    width: 200px;
    height: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*右側のメニュー*/ 
#rightnavi{
    float:left;
    width: 170px;
    height: 1200px;
    margin-left: -170px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*本文の設定*/ 
#contents{
    float: left;
    width: 800px;
    margin-left: 215px;
    margin-right: 75px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 60px;
    background-color: whitesmoke;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
-webkit-background-size: 7px 7px;
}
/*メニューボックスの設定*/ 
.contents_boxmenu{
    padding: 0.1em 0.1em;
    margin: 0.5em 0;
    color: black;
    background-color: antiquewhite;
    border-top: solid 10px #ffa500
}

.contents_boxmenu h4{
    padding: 0.5em;
    padding-right 3em: 
    color: #494949;
    background: antiquewhite;
    border-left: solid 5px #ffaf58;
}

.contents_boxmenu ul,ol{
    padding: 0.1em 1em 0.1em 1.5em;
    position: relative;
}
.contents_boxmenu ul li,ol li{
    line-height: 1.25;
    padding: 0.25em 0;
    padding-right: 1.5em;
}

table{
    border-collapse: collapse;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

table th,table td{
    border: solid 1px black;
    text-align: center;
}

th{
    background: lightgray;
}

.contents_box p{
    margin: 0;
    padding: 0;
}

.contents_maindoc{
    
}

.contents_maindoc p{
    padding-left: 0.25em;
}

/*見出し用ボックス*/ 
h3.headline{
    background-color: royalblue;
    padding: 0.5em;
    padding-left: 1em;
    font-size: 1.35em;
    color: white;
}
/*各項目のサブタイトル*/ 
h3.subtitle{
    background-color: gainsboro;
    padding: 0.5em;
    padding-left: 1.1em;
    color: black;
}

/*公式サイトへのリンク*/
a.link_button {
    width: 100px;
    height: auto;
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';/*フォントをいい感じに*/
}

/*以下カーソルを当てたとき*/
a.link_button:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
}

/*他htmlのリンク先*/
a.link_url{
    width: 130px;
    height: auto;
    font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';/*フォントをいい感じに*/
    position:relative;
}

ul#menu{
    width: 100%;
    padding: inherit;
    margin: 0 auto;
    text-align: center;
    height: 42px;
    background-color #eeeeee;
    font-weight: bold;
    list-style-type: none;
}

li#menu01,li#menu02,li#menu03,li#menu04,li#menu05,li#menustart,li#menuend{
    width: 100%;
    float: left;
    display: inline;
    list-style: none;
    background-repeat: no-repeat;
    background: #668ad8;
}

li a{
    color: #fff;
    padding: inherit;
	display: block;
    text-align: center;
    text-decoration: none;
    width: 240px; height: 42px;
    border: solid;
}

li a:hover{
    background-color: #113366;
}

li#menustart{
}

li#menuend{
    
}

li#menu01{
    width: 240px; height: 42px;
}

li#menu02{
    width: 240px; height: 42px;
}

li#menu03{
    width: 240px; height: 42px;
}

li#menu04{
    width: 240px; height: 42px;
}

li#menu05{
    width: 240px; height: 42px;
}

/*フッター*/ 
footer{
    width: 100%;
    height: 60px;
    padding-top: 30px;
    clear: both;
    background-color: darkgray;
}
/*HTML本体の設定*/ 
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}